# Python virtual environment
venv/
.venv/
env/
# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
infra/logs/
*.log
# Python
venv/
.venv/
__pycache__/
*.pyc

# Secrets & Config
.env
profiles.yml
*.pem

# Docker & Databases
postgres_data/
zookeeper_data/
kafka_data/
minio_data/
*.db

# Airflow
logs/
plugins/
airflow-webserver.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db